@font-face {
   src: url("../Простой_сайт/Fonts/Poppins-Regular.ttf");
   font-family: 'Poppins', sans-serif ;
   font-weight: 400;
   font-size: normal;
}
@font-face {
   src: url("../Простой_сайт/Fonts/Poppins-Bold.ttf");
   font-family: 'Poppins', sans-serif ;
   font-weight: 700;
   font-size: normal;
   }
@font-face {
   src: url("../Простой_сайт/Fonts/Poppins-Medium.ttf");
   font-family: 'Poppins', sans-serif ;
   font-weight: 500;
   font-size: normal;
}
@font-face {
   src: url("../Простой_сайт/Fonts/Poppins-SemiBold.ttf");
   font-family: 'Poppins', sans-serif ;
   font-weight: 600;
   font-size: normal;
}
 
body {
    font-family: 'Poppins', sans-serif; 
}
.nav{
   background-color: blue;
   overflow: hidden;
}

.nuvbar {
   display: flex;
   width: 100%;
   justify-content: space-between;
   padding-top: 15px;
   padding-bottom: 15px;
}
/* .logo{
   a {
      color: #ffff;
   }
} */
.menu {
   display: flex;
}